@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainLight: #F5EEDD;
  --mainDark: #AB7A3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainLight: #F5EEDD;
    --mainDark: #AB7A3E;
  }
}
html{
  background: var(--mainLight)!important;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  /*color: var(--foreground);*/
  background: var(--mainLight);
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*height: 100vh;*/
}

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

/*.intro-text{*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    opacity: 0;*/
/*}*/

.opacity-0-animate {
  opacity: 0;
}